.app {
  font-family: Arial, sans-serif;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  background-color: #f0f4f8;
}

.top-section,
.bottom-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info-section {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
}

.wallet-balance,
.total-expenses,
.expense-summary {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: #d8e1ff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background: linear-gradient(135deg, #007bff, #0056b3);
  color: white;
  font-size: 16px;
  transition: background 0.3s ease;
}

button:hover {
  background: linear-gradient(135deg, #0056b3, #007bff);
}

.expense-list ul {
  list-style: none;
  padding: 0;
  border-top: 1px solid #ccc;
}

.expense-list {
  width: 650px;
  background-color: #d8e1ff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.expense-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  margin-left: 5px;
}

.expense-details {
  display: flex;
  align-items: center;
}

.category-icon {
  margin-right: 10px;
  background-color: #007bff;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.expense-info {
  display: flex;
  flex-direction: column;
}

.expense-title {
  font-weight: bold;
}

.expense-date {
  font-size: 15px;
}

.expense-actions {
  display: flex;
  align-items: center;
}

.expense-amount {
  margin-right: 10px;
}

.expense-list button {
  margin-left: 5px;
  background: none;
  border: none;
  cursor: pointer;
  color: #007bff;
  transition: color 0.3s ease;
}

.expense-list button:hover {
  color: #0056b3;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.pagination button,
.pagination span {
  padding: 10px;
  cursor: pointer;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 1.2em;
  margin: 0 5px;
  transition: background 0.3s ease;
}

.pagination button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.pagination span {
  cursor: default;
}

.charts-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.chart-container {
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  background-color: #a3acff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.modal {
  background: white;
  padding: 20px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.overlay {
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Form Styles */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form h2 {
  margin-bottom: 10px;
}

form input,
form button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

form input {
  background-color: #f0f4f8;
}

form button {
  background: linear-gradient(135deg, #007bff, #0056b3);
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
}

form button:hover {
  background: linear-gradient(135deg, #0056b3, #007bff);
}
